/* Stylesheet for tribute page */
html{
      background-color: #e6ebf5; /* #fffee8 - light yellow color originally used */
      font-family: 'Lora', serif; 
  }

  h1{
    margin-bottom: 5px;
    font-family: 'Lato', sans-serif;
  }

  .subtitle{
    font-size: 20px;
    margin-top: 5px;
    font-family: 'Lato', sans-serif;;
  }

  img{
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 660px; /* Keeps the picture from becoming overwhelmingly large */
    width: 100%; /* needed to make the image responsive */
  }

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center{
    text-align: center;
    }

  ul{
    max-width: 500px;
  }

  .info-text {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
  }

  li{
  margin-top: 10px;
  }
