/* CSS for the Technical Documentation project */

/* Layout inspired by https://medium.com/@beyondborders/beginner-css-grid-sticky-navigation-scrolling-content-7c4de0a8d1dc 
for the grid within a grid approach. */


/* Design information

Fonts 
  Headings - font-family: 'Lora', serif;
  Body - font-family: 'Merriweather', serif;
  Code - font-family: 'Inconsolata', monospace;


Color Palette
 Navbar font color - Ruby red #9b111e; 
 Other font colors - black
 Code background-color: #e3e3e3;
*/

/* || Page layout - grid within a grid */
.page {
  overflow: hidden; /* This is needed to keep the footer from overflowing */
}

.container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: 1px 1fr 1px; 
  overflow: hidden;  
}

.page-heading {
  border-bottom: 1px solid black;
}

.main-container { /* This sets up the grid within a grid */
  display: grid;
  grid-template-columns: 225px 1fr;
  grid-template-areas: "nav main";
  overflow: hidden; 
}

/* .nav and .main are in .main-container */ 
.nav {  
  grid-area: nav;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  border-right: 1px solid black;
}

.main { 
  grid-area: main;
  overflow-y: scroll;  
  padding: 20px;  
}

/*media query to change the layout of .nav and .main to single column for mobile */
@media (max-width: 768px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
        "nav"
        "main";
    column-gap: 10px;
    overflow: hidden;  
  }
  .nav {  
    border-bottom: 5px solid black;
  }
}

/* Two breakpoints for larger screens. This helps centers the text while keeping
    the scroll bar on the far right of the screen. */
@media (min-width: 1280px) {
  .main {
    padding-left: 117px;
    padding-right: 117px;
  }
}

/* This breakpoint is based on the Tailwind 2xl point */
@media (min-width: 1536px) { 
  .main {
    padding-left: 247px;
    padding-right: 247px;
  }
}

.foot {
  background-color: black;
}

/* || Navigation bar elements (.nav) */

.nav__logo {   
  height: 30px;
  width: 30px;
}

.nav__title {
  display: inline;
  color: #9b111e;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Lora', serif;
  font-size: 24px;
  font-weight: bold;
}

.nav__ul {
  list-style-type: none;
  padding-left: 0; 
}

@media (max-width: 768px) {
  .nav__ul {
    text-align: center;
  }
}

.nav__li {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.nav-link {
  padding-bottom: 10px;
  padding-top: 10px;
  color: #9b111e;
  font-family: 'Merriweather', serif;
}

/* || Elements in .main */
.main__header {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Lora', serif;
  font-size: 24px;
  font-weight: bold;
}

.main__text {
  max-width: 800px; 
     /* limits the width of text to minimize horizontal eye and head motion */
  font-family: 'Merriweather', serif;
}

.main__ul {
  max-width: 800px;
  font-family: 'Merriweather', serif;
}

.code {
  display: block;
  font-family: 'Inconsolata', monospace;  
  white-space: pre-line;
  max-width: 800px;
  background-color: #e3e3e3;
  border-style: solid;
  border-color: #e3e3e3;
}

.code--nobreak {    
  white-space: normal;
}

.code--in-text {
  display: inline;
}